{
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "amd": true
  },
  "rules": {
    "indent": [
      "error",
      "tab"
    ],
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
